<!-- app\views\mapa.html -->
<div class="alert alert-dismissible" ng-class="{'alert-success': message.code === 200, 'alert-danger': message.code !== 200 }" role="alert" ng-show="message.code !== undefined">
    <button type="button" class="close" ng-click="message.code = undefined" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ message.message }}
</div>
<h2>Mapa</h2>
<hr>
<div class="row">
    <div class="col-sm-12">
        <form class="form-inline" ng-submit="getPuntosNegros(limite, fecha_inicio, fecha_cierre)">
            Límite <input id="nmLimite" class="form-control" type="number" min="3" ng-model="limite" placeholder="Límite">
            Fecha de Inicio <input id="dtFechaInicio" class="form-control" type="date" ng-model="fecha_inicio">
            Fecha de Cierre <input id="dtFechaCierre" class="form-control" type="date" ng-model="fecha_cierre">
            <button id="btnBuscar" class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span> Buscar</button> 
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Ubicación</th>
                        <th>Total de Accidentes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ubicacion in puntos_negros">
                        <td>{{ ubicacion.descripcion }}</td>
                        <td>{{ ubicacion.total }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-9">
        <div ng-show="loading_puntos_negros">Cargando...</div>
        <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{ googleMapsUrl }}">
            <ng-map center="{{ ubicacion_lat }}, {{ ubicacion_lng }}" zoom="14" style="height: 500px;"
                zoom-to-include-markers="{{ include_markers }}" default-style="false">
                <info-window id="myInfoWindow">
                    <div ng-non-bindable>
                        <h5>{{ selectedUbicacion.descripcion }}</h5>
                        <p>Total de Accidentes: {{ selectedUbicacion.total }}</p>
                        <p>
                            <a target="_blank" ui-sref="ubicacionesDatos({ubicacion_id: selectedUbicacion.id})">Ver más información</a>
                        </p>
                    </div>
                </info-window>
                <marker ng-repeat="ubicacion in puntos_negros" position="{{ ubicacion.latitud }}, {{ ubicacion.longitud }}"
                    title="dadadas" id="das" on-click="showUbicacion(event, ubicacion)" 
                    icon="{ url:'images/marker.png', scaledSize:[20, 33], origin: [0,0] }">
                </marker>
            </ng-map>
        </div>
    </div>
</div>