<div class="row data-sheet-header">
    <div class="col-sm-3 text-center centrar">
        <h3><strong>2018</strong></h3>
    </div>
    <div class="col-sm-6 text-center centrar">
        <h3><strong>Caracterización Técnica de Puntos Negros</strong></h3>
        <p>Identificación y Priorización de Puntos Negros</p>
    </div>
    <div class="col-sm-3 text-center centrar">
        <img src="images/logo.png" alt="Logo TMT">
    </div>
</div>
<div class="row">
    <div class="col-sm-3 text-center centrar">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Frecuencia Anual</h3>
            </div>
            <div class="panel-body">
                <canvas id="bar" class="chart-horizontal-bar"
                    chart-data="dataAnual" chart-labels="labelsAnual"> chart-series="series"
                </canvas>
                <p>
                    La mayor cantidad de accidentes ocurrieron en el año 2017 (81 accidentes estimados).
                </p>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Frecuencia Mensual</h3>
            </div>
            <div class="panel-body">
                <canvas id="bar" class="chart-bar"
                    chart-data="dataMensual" chart-labels="labelsMensual"> chart-series="series"
                </canvas>
                <p>
                    La mayor cantidad de accidentes ocurrieron en el mes de agosto con un estimado de 39 accidentes.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 text-center centrar">
        <h3><strong>Caracterización Técnica de Puntos Negros</strong></h3>
        <p>Identificación y Priorización de Puntos Negros</p>
    </div>
    <div class="col-sm-3 text-center centrar">
        <img src="images/logo.png" alt="Logo TMT">
    </div>
</div>
