<!-- app\views\upload.html -->
<div ng-show="message != null" class="alert alert-dismissible" ng-class="{'alert-danger': message.type == 'error', 'alert-success': message.type == 'success'}" role="alert">
    <button type="button" class="close" ng-click="message = null"><span aria-hidden="true">&times;</span></button>
    {{ message.text }} 
</div>
<div class="form-group">
    <label for="fluAccidentes">Subir archivo</label>
    <input id="fluAccidentes" type="file" class="form-control" file-model="csv" ngf-select="uploadFile()"/>
</div>
<div>
    <div class="row" ng-repeat="accidente in accidentes" ng-class-odd="'accidente-list-item-odd'" 
        ng-class-even="'accidente-list-item-even'" >
        <div class="col-sm-10">
            <dl class="dl-horizontal">
                <dt>Fecha</dt>
                <dd>{{ accidente.fecha }}</dd>

                <dt>Hora</dt>
                <dd>{{ accidente.hora }}</dd>

                <dt>Ubicación</dt>
                <dd>
                    {{ accidente.ubicacion_text }}
                    <searchandselect ng-if="accidente.ubicacion == null" selecteditem="accidente.ubicacion" 
                        values="ubicaciones" key="Key"
                        totalrecords="totalRecordsUbicaciones" onscroll="getUbicaciones(searchKey, pagenumber)"
                        onselectitem="onselectitemUbicacion(selecteditem, accidente)">
                    </searchandselect>
                    <button ng-if="accidente.ubicacion == null" type="button" 
                        ng-click="showUbicacionesAdd(accidente)" style="width: 300px;">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </dd>

                <dt>Causas del Accidente</dt>
                <dd>
                    {{ accidente.causa_text }}
                    <searchandselect ng-if="accidente.causa == null" selecteditem="accidente.causa" 
                        values="causas" key="Key" 
                        totalrecords="totalRecordsCausas" onscroll="getCausas(searchKey, pagenumber)"
                        onselectitem="onselectitemCausa(selecteditem, accidente)">
                    </searchandselect>
                    <button ng-if="accidente.causa == null" type="button" 
                        ng-click="showCausasAdd(accidente)" style="width: 300px;">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </dd>

                <dt>Tipo de Servicio</dt>
                <dd>{{ accidente[5] }}</dd>

                <dt>Fallecidos H</dt>
                <dd>{{ accidente[6] }}</dd>

                <dt>Fallecidos M</dt>
                <dd>{{ accidente[7] }}</dd>

                <dt>Heridos H</dt>
                <dd>{{ accidente[8] }}</dd>

                <dt>Heridos M</dt>
                <dd>{{ accidente[9] }}</dd>
            </dl>
        </div>
        <div class="col-sm-2">
            <h3>Acciones</h3>
        </div>
    </div>
</div>